.registerpage{
   
    background-image: url('https://pics.craiyon.com/2023-07-07/67036f9556e14bd8b79914d44e1977d5.webp');
    background-repeat: no-repeat;
    background-size: cover;

    height: 930px;
}

.reg-container{
   margin: auto;
    height: 500px;
    width: 400px;
    position: relative;
    top: 100px;
    
    background-color: rgba(255, 255, 255, 0);
    border-radius: 22px;
    backdrop-filter: blur(30px);
    overflow-y: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
   

}
.reg-container h2{
    margin-left: 30%;
    padding: 22px;
    color: #ffffff;
}
.reg-container input{
    color: #fff1f1;
    display: block;
    margin: auto;
    margin-top: 40px;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: .1px solid rgb(198, 189, 189);
    padding-left: 30px; /* Adds padding on the left side of the input */
    padding-right: 10px; /* (Optional) Adds padding on the right side too */
    padding-top: 5px;  /* Optional: Adds padding on the top */
    padding-bottom: 5px; /* Optional: Adds padding on the bottom */
    font-size: 16px;  /* Adjust the font size (optional) */
    background-color: rgba(211, 211, 211, 0);
}
.reg-container input::placeholder{
    letter-spacing: 2px;
    font-size: 14px;
    color: #f1ebeb;
    
}
.reg-container button{
margin-top: 32px;
width: 300px;
margin-left: 50px;
}

.reg-container p{
margin-left: 100px;
margin-top: 20px;
color: #949393;
}
a{
    color: #f7f7f7;
}